html {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
}
.page{
  background-color: #eeeeee;

}

.navbar-custom{
    background-color: #eeeeee;
}

.fw-bold-title{
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  /* text-align:center; */
  margin-top: 250px;
  font-size: 4em;
  font-weight: bolder;
}

.subheading{
  text-align: left;
  margin-left:150px;
}

.description{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  margin-left: 150px;

}
.nav{
  color:black;
  font-family: 'Poppins', sans-serif;
}


#memoji{
    margin-top: 115px;
}

.email{
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;

}

.phonenum{
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;

}

.about{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#photo-text{
margin-left: 200px;
}

.hi{
    margin-right: 50px;
}