{% extends 'base.html' %}

        {% block content %}
                <img src="../static/memoji-sticker.png" id="memoji" class="rounded float-end" alt="memoji of my face">
                <h2 class="fw-bold-title" style="margin-top: 150px; font-size: 6em; text-align: center"> Hi, I'm Eunice!</h2>
                <h3 class="subheading">welcome to my internet footprint 👣</h3>
                <br>
                <h3 class="description">I’m a student from Nashville who likes to<br> code. Apart from coding, I like to <br>watch sitcoms📺, take photos📸,and <br>cook (and eat) food🍽️. </h3>
                <script src="script.js"></script>
        <!--<script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>-->
        {% endblock %}